
.title {
  font-family: 'Fugaz One', cursive;
  font-size:50px;
  display:inline-block;
  padding-right:15px;
}

.sub-title {
  font-family: 'Fugaz One', cursive;
  font-size: 25px;
}
.small-title {
  color: crimson;
  font-size: 22px;
  margin-top: 60px;
}
.btn-primary {
  background-color: crimson;
  border:none;
}
.btn-primary:hover {
  background-color: tomato;
  border:none;
}
.btn-default {
  margin-top:5px;
  margin-bottom: 5px;
}
span {
  font-size:18px;
}
.data-img {
  width:150px;
}

.movie-card {
  width:600px;
  padding:20px;
  background-color:#EBEBEB;
  
}
.dog-img {
  position: absolute;
  top:265px;
  left: 535px;
}
.margin-top-20 {
  margin-top:10px;
}

.border-radius {
  border-radius:5px;
}
.txt-right {
  text-align: right;
}
.movie-poster {
  max-height:220px;
}

ul {
  list-style: none;
  margin: 0;
  padding:0;

}

li {
  margin:0;
  padding-left:0;
  padding-top:5px;
}

h5 {
  margin:0;
}