<div class="container">

  <div class="row">
    <div ng-show="movies.length" class="col-md-7 all-movies-list">
      <h4 class="text-center sub-title">All Movies:</h4>
      <ul>
        <li ng-repeat="movie in movies">
          <button class="btn btn-default"><a ui-sref="movies.reviews({movieId: movie.id})"> Leave review for {{movie.title}}</a></button>
          <button class="btn btn-default" movie-search>Click for more Info on {{movie.title}}</button>
          <!--hidden div for movie data -->        
          <div id="hidden-movie-data" class="movie-card border-radius margin-top-20" ng-show="showMovieDetails">

            <div class="row">
              <div class="col-sm-4">
                <img class="data-img" src="{{movieData.Poster}}"/>
              </div>
              <div class="col-sm-8">

                <div class="row margin-top-20">
                  <div class="col-sm-4">
                    <strong>Year: </strong>{{movieData.Year}}
                  </div>
                  <div class="col-sm-4">
                    <strong>Genre: </strong>{{movieData.Genre}}
                  </div>
                  <div class="col-sm-4">
                    <strong>Director: </strong>{{movieData.Director}}
                  </div>
                </div>
                <div class="row margin-top-20">
                  <div class="col-sm-12">
                    <strong>Actors: </strong>{{movieData.Actors}}
                  </div>
                </div>
                <div class="row margin-top-20">
                  <div class="col-sm-12">
                    <strong>Plot: </strong>{{movieData.Plot}}
                  </div>
                </div>

              </div>

            </div>
          </div><!-- end of hidden div -->
        </li>
      </ul>
    </div>
    <div class="col-md-5 add-movies-form-div">
      <div>
        <h3 class="sub-title">Enter a Movie to Review:</h3>
        <form ng-submit="MoviesFactory.getMovie()">
          <div class="form-group">
            <input type="text" ng-model="MoviesFactory.movieTitle" class="form-control" placeholder="Enter movie title"/>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div><!--end of add movie form div-->

      <div ui-view="body"></div>
      <img class="dog-img" src="imgs/dog.jpg"/>
    </div><!-- end of col-md-6-right -->

  
    
  </div><!--end of all movies list row -->



</div><!-- end of main container -->